/* :root{

} */

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  /* font-family: ; */
  font-size: 2.5rem;
  background-color: #8ecae6;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.main-body {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.current-weather {
  display: grid;
  grid-template-columns: minmax(min-content, 400px) minmax(10px, 1fr) minmax(
      min-content,
      200px
    );
  grid-template-rows: minmax(min-content, 50px) 1fr min-content;
  gap: 2rem;
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
}

.current-weather-header {
  grid-area: 1/1/2/2;
}

.current-weather-data {
  grid-area: 2/1/3/2;
}

.current-weather-icon {
  grid-area: 2/3/3/4;
  align-self: center;
  justify-self: center;
  height: 12rem;
  width: auto;
}

.current-weather-other-data {
  grid-area: 3/1/4/2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
}

.current-weather-other-data-2 {
  grid-area: 3/3/4/4;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
}

.upcoming-weather {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 1rem 2rem;
  background-color: white;
  border-radius: 15px;
}

.upcoming-weather-title {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* border-bottom: 1px solid grey; */
  font-size: 1.5rem;
}

.upcoming-day {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 0.5fr 1fr;
  gap: 4rem;
  align-items: center;
  padding: 2rem;
  border-top: 1px solid grey;
}

.upcoming-weather-date {
  display: flex;
  span {
    font-size: 1.5rem;
  }
  align-items: center;
}

.upcoming-weather-temp {
  span {
    font-size: 2rem;
  }
}

.weather-icon {
  width: 10rem;
  height: 10rem;
}

img {
  display: inline-block;
  width: 6rem;
  height: auto;
}

.precip-probability {
  display: flex;
  font-size: 3rem;
  justify-self: center;
}

.precip-chance {
  width: 3rem;
  height: auto;
}

.search-input {
  position: relative;
  display: block;
  width: 30rem;
  margin-top: 2.4rem;
}

.search-bar {
  padding: 5px 6px;
  border: 0;
  border-radius: 25px;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  height: 4rem;
}

.search-bar:focus {
  outline: none;
}

.search-icon {
  height: 100%;
  right: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 2.5rem;
}
